{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div x-data="{ activeSlide: 0, slides: [
        '{{ asset('images/carousel/image_carousel_1.jpg') }}',
        '{{ asset('images/carousel/image_carousel_2.jpg') }}',
        '{{ asset('images/carousel/image_carousel_3.jpg') }}'
    ] }" class="relative w-full" data-carousel="slide" x-init="setInterval(() => { activeSlide = activeSlide < slides.length - 1 ? activeSlide + 1 : 0 }, 8000)">
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <template x-for="(slide, index) in slides" :key="index">
                <div x-show="activeSlide === index" class="duration-700 ease-in-out" data-carousel-item>
                    <img :src="slide" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="sunset banner">
                </div>
            </template>
        </div>

        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" @click="activeSlide = activeSlide > 0 ? activeSlide - 1 : slides.length - 1">
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
            </span>
        </button>
        
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" @click="activeSlide = activeSlide < slides.length - 1 ? activeSlide + 1 : 0">
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
            </span>
        </button>
    </div>

    {% include 'products/products_list.html.twig' %}
    {% include 'pagination/pagination.html.twig' %}

{% endblock %}
