@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #FDC830; 
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }

  @keyframes swing {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }

  .fa-swing {
    animation: swing 1s infinite alternate;
}

.neon {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.neon:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
}